.container-fluid
  .row
    .col-xs-10.col-sm-10.col-md-10.col-lg-10
      %h1.head My Papermarks
      %hr.my-4
      - unless @starred_papers.nil?
        .row
          - @starred_papers.each do |starred_paper|
            .col-xs-4.col-sm-4.col-md-4.col-lg-4
              #recentCard.card.card-cascade-narrower
                .view.view-cascade.gradient-card-header{style: "background-color: #{starred_paper.color}"}
                  %h2.card-header.title
                    = shorten_title starred_paper
                  %h3= link_to starred_paper.user.fullname, user_path(starred_paper.user.id), class: "author_link"
                  %h5
                    %i.far.fa-calendar-alt
                    %span= upload_day_of starred_paper
                %p.card-text
                  = shorten_abstract starred_paper
                .row
                  .col-xs-6.col-sm-6.col-md-6.col-lg-6
                    = link_to( user_paper_unstar_path(paper_id: starred_paper.id, user_id: current_user.id), method: :post, class: "btn btn-primary btn-star") do
                      %i.far.fa-star
                      %span Unstar
                  .col-xs-6.col-sm-6.col-md-6.col-lg-6
                    = link_to "Read more >>", user_paper_path(starred_paper.user.id, starred_paper.id),class: "btn btn-primary btn-read-more pull-right"
                .row
                  #cardFooter.card-footer
                    =starred_paper.field
