.container
  -unless @found_papers.nil?
    %h2 Search results (outside)
    %ul
      - @found_papers.each do |p|
        %li
          %h3= p.title
          %span= p.summary
          %br
          %br
          %span= "Publication date: " + p.published
          %br
          = link_to "Read here", p.link.full

    %h2 Result inside Minerva
    %ul
      - @matching_papers.each do |p|
        %li
          %h3= link_to p.title, user_paper_path(user_id: p.user.id, id:p.id)
          %span= p.description
          %br
          %br
          %span= "Publication date: " + p.created_at.strftime('%B %d, %Y')

  %h1 Top papers
  %ul
    - @top_papers.each do |p|
      %li
        = link_to p.title, user_paper_path(p.user.id, p.id)
        %br
        %span= p.description

  %h1 Most recent papers
  %ul
    - @recent_papers.each do |p|
      %li
        = link_to p.title, user_paper_path(p.user.id, p.id)
        %br
        %span= p.description

  %h2 Search outside Minerva
  = form_tag(explore_path, method: :get) do
    #{text_field_tag :query}
    \#{submit_tag 'Search'}
