%h1
  = gravatar_for @user
  = @user.fullname
.center
  = @user.formatted_nickname
  -if @user.country?
    = image_tag "country-4x3/#{@user.country.downcase}.svg", width: 32, alt: @user.country, style: "margin-left: 10px"
  %br
  %br
  = "member since " + registration_day_of(@user)

-if @user == current_user
  .container
    %h3 Overview
    = "You signed in #{@user.sign_in_count} times (last time was #{time_ago_in_words(@user.last_sign_in_at)} ago)"
    %br
    = "You have uploaded #{@user.papers.size} papers"
    %h3 Followers
    %ul.followers
      - @followers.each do |follower|
        %li
          = gravatar_for follower, size: 20
          = link_to follower.fullname, follower

    %h3 Starred papers
    %ul.starred_papers
      - @starred_papers.each do |starred_paper|
        %li
          = link_to starred_paper.title, user_paper_path(starred_paper.user.id, starred_paper.id)
          = link_to('Unstar it', user_paper_unstar_path(paper_id: starred_paper.id, user_id: current_user.id), method: :post)

    %h3 Following
    %ul.followees
      - @followees.each do |followee|
        %li
          = gravatar_for followee, size: 20
          = link_to followee.fullname, followee
          = link_to('Unfollow', user_unfollow_path(followee), method: :post)

-else
  .container
    -if @user.followed_by?(current_user)
      = link_to('Unfollow', user_unfollow_path(@user), method: :post)
    -else
      = link_to('Follow', user_follow_path(@user), method: :post)
    %h3 Personal website
    = link_to "More about me", @user.website.to_s

  .container
    - if @user.papers.any?

      %h3 Most recent papers
      %ol
        - @papers.each do |p|
          %li
            = link_to p.title, user_paper_path(p.user.id, p.id)
            %br
            %span= p.description
            - if p.article.attached?
              %span= link_to "Read article", url_for(p.article)
            %br
            %br
