#profile-container.container-fluid
  .row
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      .row
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          .img-circle
            = gravatar_for @user, size: 150
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          %h2
            = @user.fullname
          %h4
            = @user.formatted_nickname
          -if @user.country?
            = image_tag "country-4x3/#{@user.country.downcase}.svg", width: 32, alt: @user.country, style: "margin-left: 10px"
    .col-xs-4.col-sm-4.col-md-4.col-lg-4
      
      
%h1
  = gravatar_for @user
  = @user.fullname
.center
  = @user.formatted_nickname
  
  %br
  %br
  = "member since " + registration_day_of(@user)

-if @user == current_user
  .container
    %h3 Overview
    = "You signed in #{@user.sign_in_count} times (last time was #{time_ago_in_words(@user.last_sign_in_at)} ago)"
    %br
    = "You have uploaded #{@user.papers.size} papers"

-else
  .container
    -if @user.followed_by?(current_user)
      = link_to('Unfollow', user_unfollow_path(@user), method: :post)
    -else
      = link_to('Follow', user_follow_path(@user), method: :post)
    %h3 Personal website
    = link_to "More about me", @user.website.to_s

  .container
    - if @user.papers.any?

      %h3 Most recent papers
      %ol
        - @papers.each do |p|
          %li
            = link_to p.title, user_paper_path(p.user.id, p.id)
            %br
            %span= p.description
            - if p.article.attached?
              %span= link_to "Read article", url_for(p.article)
            %br
            %br
