%h1
  = gravatar_for @user
  = @user.fullname
.center
  %span= @user.nickname.to_s + " member since " + registration_day_of(@user)

.container
  %h3 Infos
  = "My country is " + @user.country_name
  %br
  = link_to "More about me", @user.website.to_s

.container
  - if @user.papers.any?

    %h3 Most recent papers
    %ol
      - @papers.each do |p|
        %li
          %span= p.title
          %br
          %span= "Abstract: " + p.description
          %br
          - if !p.article.file.nil?
            %span= link_to "Read article", p.article_url
