
:javascript
  getFields();
  setHeaderColor();

= form_for [@user, @paper] do |f|
  .container-fluid.left
    .row
      .field
        = f.label :title, class:"label_new"
        %br
        = f.text_field :title, autofocus:true, autocomplete:"on", class:"textfield_new", maxlength: '70', placeholder: "Insert here the title about your paper.", id: "paper_title"

      .field
        = f.label :field, class:"label_new"
        %br
        = f.text_field :field, autofocus: true, autocomplete: "on", class: "textfield_new", maxlength: '40', placeholder: "Insert here paper topic.", id: "paper_field"

      .field
        = f.label :description, class:"label_new"
        %br
        = f.text_area :description, autofocus:true, autocomplete:"on", class:"textarea_new", rows: '10', cols: '60', maxlength: '510',minlength: '10', placeholder: "Insert here the description about your paper.", id: "paper_description"

      .field
        = f.label :article, class:"label_new"
        %br
        = f.file_field :article, class:"filefield_new"

      .row
        %a#bc1.materialbc
        %a#bc2.materialbc
        %a#bc3.materialbc
        %a#bc4.materialbc

      .actions
        = f.hidden_field :color, id:'hiddenId', value: 'rgb(31, 164, 99)'
        = f.submit "Create paper", class:"btn btn-green", id:"btn-new"
