%h1= "All papers by " + @user.fullname
.container
  = will_paginate
  %ul.papers
    - @papers.each do |paper|
      %li
        %span= paper.title
        %span= "(on Minerva since "+ upload_day_of(paper) + ")"
        - if paper.article.attached?
          %span= link_to "Read article", url_for(paper.article)
  = will_paginate
