%h1= "All papers by " + @user.fullname
.container
  = will_paginate
  %ul.papers
    - @papers.each do |paper|
      %li
        %span= paper.title
        %span= "(on Minerva since "+ upload_day_of(paper) + ")"
        - if !paper.article.file.nil?
          %span= link_to "Read article", paper.article_url
  = will_paginate
