.container
  %h1= @paper.title
  -if @paper.liked_by?(current_user)
    = link_to('Unstar it', user_paper_unstar_path(paper_id: @paper.id, user_id: current_user.id), method: :post)
  -else
    = link_to('Star paper', user_paper_star_path(paper_id: @paper.id, user_id: current_user.id), method: :post)
  %h3 Authors
  = link_to @paper.user.fullname, @paper.user
  %h3 Abstract
  %span= @paper.description
  %br
  = link_to "Read full article", url_for(@paper.article) if @paper.article.attached?
  -if current_user == @user
    %h3 Advanced settings
    = button_to "Delete this paper", user_paper_path(@paper), data: { confirm: "Are you sure?" }, method: :delete
