%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Minerva", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Explore", explore_path
        %li= link_to "All users", users_path
        - if user_signed_in?
          %li.dropdown.head_profile_pic
            %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %img{:class => "profile_profile_pic" , :src => gravatar_url_for(current_user, size: 20)}/
              %span.caret
            %ul.dropdown-menu
              %li.dropdown-header= current_user.formatted_nickname
              %li= link_to "Profile", current_user
              %li= link_to "Settings", edit_user_registration_path
              %li= link_to "Help", help_path
              %li= link_to "Contact", contact_path
              %li.divider
              %li= link_to "Log out", destroy_user_session_path, method: :delete



        - else
          %li= link_to "Help", help_path
          %li= link_to "Contact", contact_path
          %li= link_to "Log in", new_user_session_path
